*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Gotham Rounded, sans-serif;
  font-weight: normal;
}
  body {
    padding: 0;
    margin: 0;
    background: #00AA;
  }

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    padding: 10px;
    background-color: #444;
    color: #fff;
    font-size: 2em;
  }
  
  .display {
    grid-column: 1 / -1;
    text-align: right;
    padding: 10px;
    background-color: #fff;
    color: #000;
    font-size: 1.5em;
  }
  
  button {
    background-color: #222;
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
